@model SweNugRaffler.Models.ContestantEntryModel

@{
    ViewBag.Title = "SweNug Raffler";
}

<div class="jumbotron">
    <h3>Enter your information to participate</h3>
    @using (Html.BeginForm("Index", "Home"))
    {
        <div class="row">
            @Html.LabelFor(m => m.FullName)
            @Html.TextBoxFor(m => m.FullName)
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.LabelFor(m => m.Company)
            @Html.TextBoxFor(m => m.Company)
        </div>
        
        <p>
        <input type="submit" class="btn-primary navbar-btn btn" title="Enter Raffle" value="Enter raffle"/>      
    </p>
    }
    
</div>
