@model SweNugRaffler.Models.ContestantEntryModel

@{
    ViewBag.Title = "SweNug Raffler";
}

<div class="jumbotron">
    <h3>Enter your information to participate</h3>
    @using (Html.BeginForm("Index", "Home"))
    {
        <div class="row">
            <div class="label-wrapper">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName)
            </div>
            <div class="label-wrapper">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>    
            <div class="label-wrapper">
                @Html.LabelFor(m => m.Company)
                @Html.TextBoxFor(m => m.Company)
            </div>
        </div>
        
        <p>
        <input type="submit" class="btn-primary navbar-btn btn" title="Enter Raffle" value="Enter raffle"/>      
    </p>
    }
    
</div>
